<video autoplay muted loop id="background_video">
  <source src="background2.mp4" type="video/mp4">
</video>
<div class="content">
<header>
  <h1 id="pagetitle">IS IT ACTUALLY GOOD THO?</h1>
</header>
