<style>
  .footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
</style>

<div class="footer">
<footer>
  <center>
    <p><strong><em> The developer of IsItGood loves this title! </em></strong></p>
  </center>
</footer>
</div>
