<style>
  .footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
</style>

<div class="footer">
<footer>
  <center>
    <p>© 2022 Luke Britton. All Rights Reserved</p>
  </center>
</footer>
</div>
