<style>
  .footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
</style>

<div class="footer">
<footer>
  <center>
    <p> The developer of IsItGood loves this title! </p>
  </center>
</footer>
</div>
