<!-- REQUESTS CRAWLERS DONT INDEX THE SITE -->
<meta name="robots" content="noindex">
<!-- EXTERNAL CSS, JS, FONTS -->
<link rel="stylesheet" href="styles.css">
<script src="scraper.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
<meta charset="utf-8">
<link rel="preconnect" href="https://fonts.googleapis.com">
<!-- BROWSER TAB TITLE -->
<title>Movie Ratings</title>
