html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;

  background-image: url("/background2.gif");
  background-size: cover;
}

body {
  font-family: 'Helvetica', serif;
  margin: 0;
  height: 100%;
}

#background {
    width:100%;
    height:100%;
}

h1 {
  font-size: 60px;
  color: #4ecda7;
  white-space: nowrap;
  border: none;
}

figcaption {
  font-size: 60px;
  color: #4ecda7;
  white-space: nowrap;
  border: none;
  width: 25%;
}

img {
  width: 350px;
  border: none;
  border-radius: 5px;
  display: inline-block;
}

.layout {
  width: 1920px;
  height: 1080px;

  display: flex;
  gap: 16px;
}

.grow1 { flex-grow: 1; }
.grow4 { flex-grow: 8; }
.shrink4 { flex-shrink: 4; }

#background_video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 1px;
}


#pagetitle {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

#searchbox {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  text-align: center;

}

@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

.button_container {
	position: absolute;
  left: 0;
  right: 0;
  top: 110%;
}

.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  background-color: #222;
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #4ecda7;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
