<!DOCTYPE html>
<html>

<head>
  <title>About</title>
  <!-- REQUESTS CRAWLERS DONT INDEX THE SITE -->
  <meta name="robots" content="noindex">
  <!-- EXTERNAL CSS, JS, FONTS -->
  <link rel="stylesheet" href="css/styles.css" />
  <script src="scraper.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body>

    <video autoplay muted loop id="background_video">
      <source src="background3.mp4" type="video/mp4">
    </video>

      <div class="content">
        <header>
          <h1 id="pagetitle">WELCOME TO ISITGOOD.UK</h1>
        </header>

  <center><strong>

    <p>The goal of this website is to provide users with a simple solution to decide what film to watch this Friday evening with a single-click search that provides only the necessary information in one place.</p>

    <p>Behind the scenes, our servers are able to calculate a personalised score based on your age group and reviews left by other IsItGood users stored in the IsItGoodDB.</p>

    <p>The website has been developed solely by myself (<a href="https://discord.com/users/sneaky#6101">sneaky#6101 on discord</a>) and the websites I have used to learn and adapt code from are listed below:</p>
  </center></strong>
  <ul>
    <li><a href="https://chat.openai.com/" color='white'>chat.openai.com</a></li>
    <li><a href="https://stackoverflow.com/" color='white'>stackoverflow.com</a></li>
    <li><a href="https://developer.mozilla.org/" color='white'>developer.mozilla.org</a></li>
    <li><a href="https://expressjs.com/" color='white'>expressjs.com</a></li>
    <li><a href="https://codepen.io/" color='white'>codepen.io</a></li>
    <li><a href="https://sitepoint.com/" color='white'>sitepoint.com</a></li>
    <li><a href="https://medium.com/" color='white'>medium.com</a></li>
    <li><a href="https://www.codecademy.com/" color='white'>codeacademy.com</a></li>
    <li><a href="https://www.digitalocean.com/" color='white'>digitalocean.com</a></li>
  </ul>

  <div class="navbar">
    <a href="/">Home</a>
    <a href="/signin">Sign In</a>
    <a href="/signup">Sign Up</a>
    <a href="/about" class="active">About</a>
  </div>
</body>
</html>
