<!DOCTYPE html>
<html>

<head>
  <title>About</title>
  <!-- REQUESTS CRAWLERS DONT INDEX THE SITE -->
  <meta name="robots" content="noindex">
  <!-- EXTERNAL CSS, JS, FONTS -->
  <link rel="stylesheet" href="css/styles.css" />
  <script src="scraper.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body>

    <video autoplay muted loop id="background_video">
      <source src="background3.mp4" type="video/mp4">
    </video>

      <div class="content">
        <header>
          <h1 id="pagetitle">WELCOME TO ISITGOOD.UK</h1>
        </header>

<div style="margin: 10px;">
  <strong>
    <h2>ABOUT</h2>
    <p>The goal of this website is to provide users with a simple solution to decide what film to watch this Friday evening with a single-click search that provides only the necessary information in one place.</p>

    <p>Behind the scenes, our servers are able to calculate a personalised score based on your age group and reviews left by other IsItGood users stored in the IsItGoodDB.</p>
    <br>

    <h2>HOW IT WORKS</h2>
    <p>Each search will aim to get 6 pieces of general info and 4 metrics for rating the movie, providing a conclusive result as the title of the page.</p>

    <p>The general info includes:</p>
    <br>

    <ul>
      <li>Title</li>
      <li>Release Year</li>
      <li>Genres</li>
      <li>Poster</li>
      <li>Runtime</li>
      <li>Age Rating</li>
    </ul>
    <br>

    <p>The ratings include:</p>
    <br>

    <ul>
      <li>IMDb Average Rating</li>
      <li>Rotten Tomatoes Critic Score</li>
      <li>IsItGood Rating</li>
      <li>Personalised score for your age group</li>
    </ul>
    <p>
      <p>The website has been developed solely by myself (<a href="https://discord.com/users/sneaky#6101">sneaky#6101 on discord</a>) and the websites I have used to learn and adapt code from are listed below:</p>
  </strong>

  <ul>
    <li><a href="https://chat.openai.com/" style="color: white">chat.openai.com</a></li>
    <li><a href="https://stackoverflow.com/" style="color: white">stackoverflow.com</a></li>
    <li><a href="https://developer.mozilla.org/" style="color: white">developer.mozilla.org</a></li>
    <li><a href="https://expressjs.com/" style="color: white">expressjs.com</a></li>
    <li><a href="https://codepen.io/" style="color: white">codepen.io</a></li>
    <li><a href="https://sitepoint.com/" style="color: white">sitepoint.com</a></li>
    <li><a href="https://medium.com/" style="color: white">medium.com</a></li>
    <li><a href="https://www.codecademy.com/" style="color: white">codeacademy.com</a></li>
    <li><a href="https://www.digitalocean.com/" style="color: white">digitalocean.com</a></li>
  </ul>
</div>

  <div class="navbar">
    <a href="/">Home</a>
    <a href="/signin">Sign In</a>
    <a href="/signup">Sign Up</a>
    <a href="/about" class="active">About</a>
  </div>
</body>
</html>
