<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include('../partials/_head') %>

  <style>

  </style>

</head>

<body>
  <%- include('../partials/_background') %>
  <div class="bubble">

  </div>
  <%- include('../partials/_foot') %>
</body>
