<!doctype html>
<html>
<head>
  <title>Sign Up</title>
  <style>
  /* Style the form elements */

  body {
    font-family: "Helvetica", serif;
    margin: 0;
    height: 100%;
  }



  h1 {
    font-size: 60px;
    color: #4ecda7;
    white-space: nowrap;
    border: none;
  }
  form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  label {
    display: block;
    margin-bottom: 8px;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  input[type="submit"] {
    background-color: #4ecda7;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #00000;
  }
  #background_video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  </style>

  <!-- REQUESTS CRAWLERS DONT INDEX THE SITE -->
  <meta name="robots" content="noindex">
  <!-- EXTERNAL CSS, JS, FONTS -->
  <link rel="stylesheet" href="/css/styles.css" />
  <script src="scraper.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body>
  <video autoplay muted loop id="background_video">
    <source src="background3.mp4" type="video/mp4">
    </video>
    <div class="content">
      <header>
        <h1 id="pagetitle">IS IT ACTUALLY GOOD?</h1>
      </header>
      <br>

      <form id="signin-form" action="/signin" method="POST" name="signin-form">
        <h2>Log In</h2>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter your email">

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password">

        <input type="submit" value="Sign In" onclick="submitForm()">
      </form>

      <script>
        function submitForm() {
          const form = document.getElementById("signin-form");
          form.submit();
        }
      </script>

    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="navbar">
      <a href="/">Home</a>
      <a href="/signin" class="active">Sign In</a>
      <a href="/signup">Sign Up</a>
      <a href="/about">About</a>
    </div>
  </body>

  </html>
